.app-sidebar.bg-body-secondary.shadow {
    background-color: #0f0f0f !important;
}

.app-wrapper,
.app-header.navbar.navbar-expand.bg-body,
.app-footer {
    background-color: #2c2c2c !important;
}

.app-footer {
    color: #fefefe;
}

.row h3 {
    color: #fefefe;
}

.brand-image {
    max-height: 70px !important;
    width: auto !important;
}

/* .sidebar-brand {
    height: 6.5rem;
} */

.bi.bi-list{
    color: #fefefe;
}


/* ---------- Calendario ----------- */

.card {
    background-color: #fefefe;
    border: none;
    border-radius: 10px;
}

.card-header {
    background-color: #fefefe;
    border-bottom: 1px solid #ddd;
}

.card-title {
    color: #0f0f0f;
    font-weight: 600;
}

/* CALENDÁRIO GERAL */
.fc {
    background-color: #2c2c2c;
    color: #fefefe;
    font-family: var(--fonteBase);
}

/* TÍTULO DO MÊS */
.fc .fc-toolbar-title {
    color: #bf821d;
    font-weight: 700;
    text-transform: capitalize;
}

/* BOTÕES */
.fc .fc-button-primary {
    background-color: #2c2c2c;
    border-color: #bf821d;
    color: #fefefe;
}

.fc .fc-button-primary:hover,
.fc .fc-button-primary:focus {
    background-color: #bf821d;
    border-color: #bf821d;
    color: #0f0f0f;
}

/* BOTÃO ATIVO */
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #bf821d;
    border-color: #bf821d;
    color: #0f0f0f;
}

/* CABEÇALHO DOS DIAS */
.fc-col-header-cell {
    background-color: #0f0f0f;
}

.fc-col-header-cell a {
    color: #bf821d !important;
    text-decoration: none;
    font-weight: 700;
}

/* CÉLULAS DOS DIAS */
.fc-theme-standard td,
.fc-theme-standard th {
    background-color: #2c2c2c;
    border-color: #777;
}

/* NÚMEROS DOS DIAS */
.fc-daygrid-day-number {
    color: #bf821d !important;
    text-decoration: none;
}

/* DIA ATUAL */
.fc .fc-day-today {
    background-color: rgba(191, 130, 29, 0.25) !important;
}

/* EVENTOS */
.fc-event {
    background-color: #bf821d !important;
    border-color: #bf821d !important;
    color: #0f0f0f !important;
    font-weight: 600;
    border-radius: 6px;
    padding: 3px;
}

/* LINKS DOS EVENTOS */
.fc-event-title,
.fc-event-time {
    color: #0f0f0f !important;
}

.card {
    background-color: #1f1f1f;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.35);
}

.card-header {
    background-color: #262626;
    border-bottom: 1px solid #3a3a3a;
}

.card-title {
    color: #bf821d;
    font-weight: 600;
}